remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.23.0/es6-shim.min.js"
]
dependencies:
  "action-bar": "distri/action-bar:v0.0.1"
  cornerstone: "distri/cornerstone:v0.2.10"
  priority_queue: "STRd6/priority_queue:v2.0.0"
  "touch-canvas": "distri/touch-canvas:v0.3.1"
width: 1024
height: 576
